<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <form name="form1">

        </form>

        <button ng-click="compile()">Compile</button>
        <button ng-click="link()">Link</button>
        <button ng-click="change()">Change</button>
    </div>

    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>