<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <button ng-click="load()">Load</button>
        <ul>
            <li ng-repeat="contact in contacts">
                <span>{{contact.name}}</span>
                <span>{{contact.email}}</span>
            </li>
        </ul>
    </div>

    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="contactService.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>